<div class="countdown">
   
    <div class="countdown-timer">
        <div class="text-4xl text-letter font-normal font-customa text-center mt-8">
            <span>{{ days }}</span> días
            <span>{{ hours }}</span> horas
            <span>{{ minutes }}</span> minutos
            <span>{{ seconds }}</span> segundos.
        </div>
        <div class="text-4xl text-letter font-normal font-customa text-center mt-8">
            <i src="/assets/images/sandglass.png" alt=""></i> 
        </div>
    </div>
    
</div>
  
