<div class="">
    <div class="w-full">
         
        <h1 class="text-8xl text-letter font-normal font-customa text-center mt-24">Mis XV</h1>
        <h1 class="text-8xl text-letter font-normal font-customa text-center">Lola</h1>
        <div class="flex justify-center items-center">
             <img src="/assets/images/rosa-h.png" width="600">
        </div>
       
      
        
        
    </div>
    <div>
        <p class="text-4xl text-letter font-normal font-customa text-center">Te invito a festejar mi cumpleaños</p>
        <p class="text-4xl text-letter font-normal font-customa text-center">el viernes 24 de Noviembre</p>
    </div>
</div>

  