<div>
    <h1>Lugar de celebración</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur quasi molestias, assumenda atque quam asperiores quos ducimus voluptas repudiandae aperiam mollitia ad, fugit molestiae? Atque voluptatibus dolorum quia quaerat facilis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam inventore dolor quasi necessitatibus mollitia molestias officia, doloremque ratione provident consectetur labore sed qui quaerat voluptate accusamus neque tenetur maiores! Officiis.</p>
    <button>Cómo llegar</button>
</div>
