<div>
    <div class="flex justify-center items-center mt-24">
        <img src="/assets/images/rosa-one.png" width="260">
   </div>
  

    <h1 class="text-6xl text-letter font-normal font-customa text-center mt-24">Lugar de celebración</h1>
    <p class="text-4xl text-letter font-normal font-customa text-center mt-8">En algún lado de San Martín o Villa Ballester.</p>
    <p class="text-4xl text-letter font-normal font-customa text-center mt-8">Buenos Aires.</p>
    <div class="flex justify-center items-center mt-6">
        <button class="text-4xl text-letter font-normal font-customa text-center mt-8 border-2 border-solid border-letter hover:bg-letter hover:text-backgr rounded-xl w-1/4 h-full py-3">Cómo llegar</button>
</div>
    </div>
    
